body {
   font-family: "Montserrat", sans-serif;
   background: #e0ecfb;
}
.contener {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   margin: 0 auto;
   width: 1200px;
   background: #ffffff;
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* .main {
   background: rgb(171, 252, 89);
   margin: 20px;
   padding: 40px;
}
li {
   color: rgb(0, 86, 4);
}
h2 {
   color: red;
} */
