body {
   font-family: "Montserrat", sans-serif;
   background: #e0ecfb;
}
.contener {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   margin: 0 auto;
   width: 1200px;
   background: #ffffff;
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.cv-photo {
   margin: 10px 10px 0 10px;
}
.header-white {
   color: #ffffff;
}
.white {
   color: #ffffff;
   font-size: 14px;
   line-height: 24px;
}
.left-side {
   margin-top: 45px;
   margin-left: 40px;
}
.list-color {
   color: #47f6ff;
   font-size: 14px;
   line-height: 24px;
   margin-left: 0px;
   padding-left: 20px;
   list-style-position: inside;
}
.contact-links {
   color: #ffffff;
   font-size: 14px;
   line-height: 24px;
}
.bold {
   font-weight: 700;
}

aside {
   width: 370px;
   height: 1319px;
   left: 40px;
   top: 40px;
   background: #1e2939;
}
h2 {
   color: red;
}
